<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<p>Имя: <%= @request.name %></p>
	<p>Фамилия: <%= @request.surname %></p>
	<p>Отчество: <%= @request.patronymic %></p>
	<p>Телефон: <%= @request.phone %></p>
	<p>Email: <%= @request.email %></p>
	<p>Вес(кг): <%= @request.weight %></p>
	<p>Длина(см): <%= @request.length %></p>
	<p>Ширина(см): <%= @request.width %></p>
	<p>Высота(см): <%= @request.height %></p>
	<p>Пункт отправления: <%= @request.origin %></p>
	<p>Пункт назначения: <%= @request.destination %></p>
	<p>Расстояние: <%= @request.distance %></p>
	<p>Цена: <%= @request.price %></p>
	
</body>
</html>